{% extends "admin/layout.njk" %}

{% block content %}

    <div class="container">
        <h2 class="admin">Gerenciar receitas</h2>

        <section class="recipes">

{# Aqui entra um for com as receitas depois #}

            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                    <div class="card-button">
                        <a href="#">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                </div>
            </div>
            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                </div>
            </div>
            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                </div>
            </div>
            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                </div>
            </div>
            <div class="recipe" id="">
                <div class="card-image">
                    <img src="/assets/burger.png" alt="Imagem de burger">
                </div>
                <div class="card-content">
                    <div class="card-name">
                        <h3>Triplo bacon burguer</h3>
                    </div>
                    <div class="card-author">
                        <h4>
                            por Jorgin
                        </h4>
                    </div>
                </div>
            </div>


        </section>
    </div>

{% endblock content %}