<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <a href="/">
            <img src="/assets/logo.png" alt="Foodfy">
        </a>

        <div class="menu">
            <a href="/about" class="{{ 'selected' if page == 'about' }}" >Sobre</a>
            <a href="/recipes" class="{{ 'selected' if page == 'recipes' }}">Receitas</a>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/scripts.js"></script>
</body>

</html>