@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #111111;
    --banner-color: #FBDFDB;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a.selected {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
}

/* HEADER */

header {
    display: flex;
    padding: 30px 0;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

header .menu {
    font-size: 16px;
    font-weight: 400;
}

header .menu a+a {
    margin-left: 30px;
}

/* BANNER */

.banner {
    width: 940px;
    margin: 0 auto;
    height: 366px;
    background-color: var(--banner-color);
    border-radius: 30px;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
}

.banner .banner-text {
    width: 320px;
    padding: 60px;
    align-items: center;
}

.banner .banner-text h1 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.banner .banner-text p {
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.banner .banner-image {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* WRAPPER */

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.wrapper h2 {
    padding: 20px 0;
}

/* CARDS */

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    text-align: left;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card-name {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.card-author {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

/* FOOTER */

footer {
    width: 100vw;
    background-color: #EEEEEE;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999999;
}

/* ABOUT */

.content {
    max-width: 940px;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 10px;
}

.content h3 {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: bold;
    margin: 20px 0;
}

.content p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin: 10px 0;
}

/* RECIPE */

.recipe {
    max-width: 940px;
    margin: 0 auto;
}

.recipe_image img {
    border-radius: 15px;
}

.recipe_info {
    margin: 50px auto;
    text-align: center;
}

.recipe_info .recipe_name h1 {
    font-weight: bold;
    font-size: 36px;
    color: #111111;
}

.recipe_info .recipe_name p {
    font-size: 20px;
    color: #777777;
    line-height: 30px;
}

.recipe .section_title {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    margin-top: 40px;
}

.recipe .section_title h2 {
    margin-right: 8px;
}

.recipe .section_title button {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.recipe_data {
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

.ingredients_list, .preparation_list, .more-information {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* SHOW/HIDE BUTTON */

.recipe_item.hide {
    display: none;
}

/* =====ADMIN===== */

.container {
    width: 940px;
    margin: 0 auto;
}

header.admin {
    max-width: none;
    background-color: var(--primary-color);
}

h2.admin {
    margin: 50px 0 30px 0;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipe {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    text-align: left;
}

.recipe .card-image img {
    height: 80px;
    border-radius: 9px;
}

.recipe .card-button a {
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
}